$background: var(--background)
$item-background: var(--item-background)
$item-border: var(--item-border)
$item-border-width: var(--item-border-width)
$item-hover-background: var(--item-hover-background)
$text-colour: var(--text-colour)
$secondary-colour: var(--secondary-colour)
$icon-filter: var(--icon-filter)
$list-border-width: var(--list-border-width)
$popup-overlay: var(--popup-overlay)
$popup-background: var(--popup-background)
$popup-border: var(--popup-border)
$popup-hover-background: var(--popup-hover-background)

=item-style
  background: $item-background
  outline: $item-border
  box-sizing: border-box
